.introduction {
  display: flex;
  z-index: 10;
  gap: 5rem;
  padding: 5rem;

  &__content {
    display: block;
    flex: 1;
  }

  &__title {
    font-size: 3rem;
  }

  &__summary {
    font-size: 1rem;
  }

  &__image {
    background-image: url("https://cdn2.psychologytoday.com/assets/styles/manual_crop_4_3_1200x900/public/field_blog_entry_images/2018-09/shutterstock_648907024.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
  }
}
