@use "sass:map";
@use "../../../../core/sass/responsive.scss" as *;

.summarize-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  @include responsive-property(
    padding,
    0 1.5rem,
    0 1.5rem,
    0 1rem,
    0 1rem,
    0 1rem
  );

  &__title {
    height: 2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    @include responsive-property(
      justify-content,
      left,
      left,
      right,
      right,
      right
    );
    @include responsive-property(
      flex-direction,
      row-reverse,
      row-reverse,
      row,
      row,
      row
    );
    &--right {
      justify-content: left;
      flex-direction: row-reverse;
    }
  }

  &__image {
    object-fit: contain;
    object-position: center;
    height: 100%;
  }
}
