@use "sass:map";
@use "../../../core/sass/color.scss" as *;
@use "../../../core/sass/responsive.scss" as *;

.introduction {
  display: flex;
  height: 100%;
  z-index: 10;
  justify-content: start;
  align-items: end;
  @include responsive-property(width, 100%, 50%, 50%, 50%, 50%);
  @include responsive-property(
    padding,
    0 1rem 5rem 1rem,
    0 0 1rem 10%,
    0 0 1rem 10%,
    0 0 1rem 10%,
    0 0 1rem 10%
  );

  &__content {
    display: block;
    flex: 1;
    margin-top: 50px;
  }

  &__title {
    font-size: 4rem;
    color: map.get($colors, primary, main);
  }

  &__summary {
    font-size: 1rem;
    color: white;
  }
}
