@use "sass:map";
@use "../../../core/sass/color.scss" as *;

.introduction {
  display: flex;
  height: 100%;
  width: 50%;
  z-index: 10;
  justify-content: start;
  align-items: center;
  padding-left: 5rem;

  &__content {
    display: block;
    flex: 1;
  }

  &__title {
    font-size: 4rem;
    color: map.get($colors, primary, main);
  }

  &__summary {
    font-size: 1rem;
    color: white;
  }
}
