@use "sass:map";
@use "../../../../../core/sass/responsive.scss" as *;
@use "../../../../../core/sass/color.scss" as *;

.hobbie-section {
  &__title {
    height: 2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    @include responsive-property(
      justify-content,
      left,
      left,
      right,
      right,
      right
    );
    @include responsive-property(
      flex-direction,
      row-reverse,
      row-reverse,
      row,
      row,
      row
    );

    & img {
      object-fit: contain;
      object-position: center;
      width: 35px;
    }
  }
}
