@use "sass:map";
@use "../../../../../core/sass/color.scss" as *;
@use "../../../../../core/sass/responsive.scss" as *;

$animationTime: 2s;

.phrase {
  width: 100%;
  overflow: hidden;
  position: relative;

  &__text {
    width: 100%;
    text-align: left;
    font-family: "M PLUS Code Latin", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    @include responsive-property(font-size, 3rem, 3rem, 4rem, 4rem, 5rem);
    @include responsive-property(
      letter-spacing,
      -0.2rem,
      -0.2rem,
      -0.4rem,
      -0.4rem,
      -0.5rem
    );
  }

  &__cursor-container {
    position: relative;
    display: inline-block;
    height: 100px;
    align-content: end;
    overflow: hidden;
    @include responsive-property(width, 200px, 200px, 250px, 250px, 300px);
  }

  &__cursor {
    margin-left: 10px;
    width: 50px;
    height: 10px;
    background-color: white;
    animation: blinkAnimation 1s ease infinite;

    &--animate {
      animation: cursorExpandAnimation $animationTime ease forwards;
    }
  }

  &__highlighted-text {
    position: absolute;
    opacity: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    @include responsive-property(font-size, 5rem, 5rem, 6rem, 6rem, 7rem);
    @include responsive-property(
      line-height,
      3.8rem,
      3.8rem,
      4.4rem,
      4.4rem,
      5rem
    );

    &--animate {
      animation: highlightedTextAnimation $animationTime ease forwards;
    }
  }
}

@keyframes blinkAnimation {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cursorExpandAnimation {
  0% {
    width: 50px;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes highlightedTextAnimation {
  0% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
