@use "sass:map";
@use "../../../core/sass/responsive.scss" as *;
@use "../../../core/sass/color.scss" as *;
@use "./sections/section-title";

$default-spacing: 2.5rem;

.summarize {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  position: relative;
  background-color: map.get($colors, background);
  z-index: 0;
  overflow-x: hidden;
  @include responsive-property(
    grid-template-columns,
    1fr,
    1fr,
    1fr 1fr,
    1fr 1fr,
    1fr 1fr
  );

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__item {
    margin-top: $default-spacing;
    @include responsive-property(width, 90%, 90%, 90%, 70%, 70%);

    &--youtube {
      @include responsive-property(
        margin-top,
        $default-spacing,
        $default-spacing,
        16rem,
        16rem,
        16rem
      );
    }

    &--education {
      @include responsive-property(
        margin-top,
        $default-spacing,
        $default-spacing,
        15rem,
        15rem,
        15rem
      );
    }

    &--spacing {
      margin-top: 0;
    }

    &:nth-of-type(even) {
      @include responsive-property(
        margin-left,
        10%,
        10%,
        inherit,
        inherit,
        inherit
      );
      @include responsive-property(text-align, start, start, end, end, end);
      @include responsive-property(justify-self, start, start, end, end, end);
    }

    &:nth-of-type(odd) {
      @include responsive-property(
        margin-left,
        10%,
        10%,
        inherit,
        inherit,
        inherit
      );
    }

    &:last-child {
      margin-bottom: 8rem;
    }
  }
}
