@use "sass:map";
@use "../../../../../core/sass/responsive.scss" as *;
@use "../../../../../core/sass/color.scss" as *;

.language-section {
  &__languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__language {
    flex: 1;
    font-size: 1.3rem;
    color: map.get($colors, secondary, main);
    transition: letter-spacing 300ms ease-in-out, font-size 300ms ease-in-out;

    &:first-child {
      text-align: right;
    }

    &:hover {
      font-size: 1.5rem;
      letter-spacing: 3px;
    }
  }

  &__divider {
    height: 40px;
    width: 3px;
    background-color: map.get($colors, secondary, main);
  }
}
