.logo {
  &__flutter {
    width: 25vw;
    filter: blur(2px);
  }

  &__android {
    width: 18vw;
    filter: blur(5px);
  }

  &__react {
    width: 14vw;
    filter: blur(2px);
  }

  &__csharp {
    width: 22vw;
    filter: blur(3px);
  }
}
