@use "sass:map";
@use "../../../../../core/sass/responsive.scss" as *;
@use "../../../../../core/sass/color.scss" as *;

.youtube-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  @include responsive-property(
    padding,
    0 1.5rem,
    0 1.5rem,
    0 1rem,
    0 1rem,
    0 1rem
  );

  &__title {
    height: 2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    & img {
      object-fit: contain;
      object-position: center;
      height: 100%;
    }
  }

  &__video {
    border-radius: 1rem;
    border: 4px solid map.get($colors, primary, main);
    outline: 2px solid map.get($colors, primary, main);
    outline-offset: 2px;
    width: 100%;
  }
}
