@use "sass:map";
@use "../../../../core/sass/color.scss" as *;

.profile-description {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    border: none;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: map.get($colors, primary, main);
    z-index: -1;
  }

  &::after {
    content: "";
    background-image: url("/src/assets/rafael-description.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 300px;
    width: 300px;
  }
}
