.fadeout {
  &--up {
    animation: fadeOutUpAnimation 1.5s ease-in-out forwards;
  }

  &--down {
    animation: fadeOutDownAnimation 1.5s ease-in-out forwards;
  }

  &--right {
    animation: fadeOutRightAnimation 1.5s ease-in-out forwards;
  }

  &--left {
    animation: fadeOutLeftAnimation 1.5s ease-in-out forwards;
  }
}

@keyframes fadeOutDownAnimation {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOutUpAnimation {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOutLeftAnimation {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeOutRightAnimation {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
